@import "../_base/imports/bootstrap";
@import "../_base/variables/variables";

/*

Mixins usage:

@mixin button-variant($color, $background, $border)
@mixin button-outline-variant($color)
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius)

*/

.bmtp-btn {
  &--white-border {
    background-color: transparent;
    padding: 1.5rem 3rem;
    //margin: 3rem;
    font-size: 20px;
    border-radius: 75px;
    text-decoration: none;
    border: 2px solid white;
    display: inline-block;
    color: white;
    text-decoration: none;
  }
}