@import "../_base/imports/bootstrap";
@import "../_base/variables/variables";

$block-name: "bmtp-footer";

.#{$block-name} {
  &.bmtp-section {
    min-height: 120px;
  }

  &__container {
    @include make-container();
    display: flex;
    //padding: 30px;
    padding: 0;
  }
  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 120px;
  }
&__link {
  text-decoration: none;
  color: $color-gray-light;
}

  &__bottom-line {
    opacity:.2;
  }
}

