@import "../_base/imports/bootstrap";
@import "../_base/variables/variables";

@import "../../node_modules/animate.scss/vendor/assets/stylesheets/animate.scss";
@import "../../node_modules/animate.scss/vendor/assets/stylesheets/animate/bounce.scss";
@import "../../node_modules/animate.scss/vendor/assets/stylesheets/animate/bounceIn.scss";
@import "../../node_modules/animate.scss/vendor/assets/stylesheets/animate/shake.scss";
@import "../../node_modules/animate.scss/vendor/assets/stylesheets/animate/swing.scss";
@import "../../node_modules/animate.scss/vendor/assets/stylesheets/animate/tada.scss";
@import "../../node_modules/animate.scss/vendor/assets/stylesheets/animate/rollIn.scss";

$block-name: "mobile-app";

.#{$block-name} {
  background-image: url(resources/fairy-bg@2x.png);
  background-size: cover;
  &.bmtp-section {
    min-height:0;
  }

  &__container {
    @include make-container();
    display: flex;
    padding: $grid-gutter-width*2 0 0;
    max-width: 1200px;
  }

  &__knight,
  &__tower {
    display: none;
  }

  &__title {
    max-width: 80%;
    margin: 0 auto $grid-gutter-width;
  }

  &__hand {
    align-self: flex-end;
    max-width: 80%;
    margin: 0 auto;
    //position: absolute;
    //bottom: 0;
  }


}


@media (min-width: breakpoint-min(xl)) {
  .#{$block-name} {
    &.bmtp-section {
      min-height:675px;
    }
    &__title {
      position: relative;
      top: -100px;
    }
    &__tower, &__knight {
      display: inherit;
      position: relative;
      top: 80px;
      &:hover {
        @include animate('tada', 1s);
      }
    }

    &__hand {
      left: 50%;
    }
  }
  }
