@import "../_base/imports/bootstrap";
@import "../_base/variables/variables";

$block-name: "bmtp-section";

.#{$block-name} {
  transition: all .5s ease;
  font-family: $base-font;
  text-align: center;
  display: flex;
  //overflow: hidden;
  &__container {
    @include make-container();
    display: flex;
    padding: $grid-gutter-width*2 0 $grid-gutter-width;
    max-width: 1200px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
  }

  &__header {
    font-size: 32px;
    margin: 40px;
    width: 100%;
    max-width: calc(100% - 80px);
    &__img {
      margin: 0 20px;
    }
    strong {
      font-weight: 300;
    }
  }
  &__description {
    padding: $grid-gutter-width;

    &__icon-link {
      display: inline-block;
    }
    h1 {
      font-size: 36px;
      margin: 0;
    }
    h2 {
      font-size: 18px;
      margin: 0 0 $grid-gutter-width;
      text-transform: uppercase;
      font-weight: 400;
    }
    ul {
      padding-left: 2rem;
      text-align: left;
      font-weight: 300;
      list-style-type: circle;
    }
    li {
      margin-bottom: .4rem;
    }
    p {
      margin: $grid-gutter-width 0;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      strong {
        font-weight: 400;
      }
    }
  }
  &__artwork {
    &__img:not(amp-img) {
      display: block;
      margin: 0 auto;
      max-width: 80%;
    }
  }
  &--image-left {}
  &--image-right {}

}

@media (min-width: breakpoint-min(md)) {
  .#{$block-name} {
    min-height: 600px;


    &__row {
      @include make-row();
      flex-direction: row;
      align-items: center;
    }
    &__artwork {
      //@include make-col(6);
      flex: 0 0 auto;
      margin: 0 auto;
    }
    &__description {
      text-align: left;
    }
  }

  &.#{$block-name}--reverse {

    .#{$block-name}{
      &__row {
        flex-direction: row-reverse;
      }
      &__artwork {
        flex: 0 0 auto;
      }
    }

  }
}

@media (min-width: breakpoint-min(xl)) {
  .#{$block-name} {

    &__description {
      padding: $grid-gutter-width;
      width: 600px;

      h1 {
        font-size: 48px;
        margin: 0 0 .2rem;
      }
      h2 {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
      }
      p {
      }
    }

    &__header {
      display: flex;
    }
  }
}


/* THEMING */


.#{$block-name} {

  &.#{$block-name}--blue {
    background-color: $color-bmtp-blue;
    color: $color-white;
  }

  &.#{$block-name}--red {
    background-color: $color-bmtp-red;
    color: $color-white;
  }

  &.#{$block-name}--green {
    background-color: $color-bmtp-green;
    color: $color-white;
  }

  &.#{$block-name}--yellow {
    background-color: $color-bmtp-yellow;
    //color: $color-white;
  }

  &.#{$block-name}--gray {
    background-color: $color-gray-light;
  }

  &.#{$block-name}--dark-gray {
    background-color: $color-gray-dark;
    color: $color-gray-light;

    a {
      color: $color-white;
    }
  }

  &.#{$block-name}--black {
    background-color: black;
    color: $color-gray-light;
    a {
      color: $color-gray-light;
      &:hover {
        color: $color-white;
      }
    }
  }

}

@media (max-width: breakpoint-min(sm)) {
  .#{$block-name} {
    &__row {
      min-height: auto;
    }
  }
}

