@import "imports/bootstrap";
@import "variables/variables";
@import "typography";

//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts" !default; // for referencing Bootstrap CDN font files directly
//$fa-font-path:        "resources/fonts";
//@import "../../node_modules/font-awesome/scss/font-awesome";
//@import "../../bower_components/bootstrap/scss/grid";
//@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";


@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900italic,900);

body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
