$color-violet-dark: #180821;
$color-violet: #51355a;
$color-violet-bright: #75009b;
$color-violet-light: #c683dc;
$color-green: #4cad55;
$color-yellow: #ffec00;


$color-white: #ffffff;
$color-gray-dark: #4A4A4A;
//$color-gray-dark: #4C4C4C;
$color-gray-light: #EFF0F3;



$color-bmtp-blue: rgba(0, 99, 185, 1.0);
$color-bmtp-red: rgba(208, 2, 27, 1.0);
$color-bmtp-green: rgba(122, 204, 29, 1.0);
$color-bmtp-yellow: rgba(245, 166, 35, 1.0);

$gradient-hero-bg: linear-gradient(225deg, #3023AE 0%, #53A0FD 47.52%, #B4EC51 100%);